

h1 {

	text-align: center;
	font-family: barteldes-small, serif;
}

h3 {
	text-align: center;

}

h5 {
	text-align: center;
	font-family: gibbs, sans-serif;
	line-height: 150%;

}


body {


}

p {


}